.header {
  column-gap: var(--mantine-spacing-600);
  row-gap: var(--mantine-spacing-300);
  margin-bottom: var(--mantine-spacing-500);

  @media (max-width: em(620px)) {
    flex-direction: column;
  }

  @media (min-width: $mantine-breakpoint-sm) {
    margin-bottom: var(--mantine-spacing-400);
  }
}

.title {
  font-size: var(--mantine-font-size-xxl);
  line-height: 1;
  letter-spacing: -1px;
}

.list {
  gap: var(--mantine-spacing-150);
  justify-content: center;
}

.tab {
  font-size: var(--mantine-font-size-xl);
  letter-spacing: -0.3px;
  line-height: 1.4;
  border-radius: var(--mantine-radius-full);
  padding: rem(7px) rem(19px) rem(9px);
  border: 1px solid var(--mantine-color-neutral-2);

  &[data-active] {
    font-weight: 500;
    border-color: transparent;

    @mixin dark {
      color: var(--mantine-color-neutral-9);
    }

    @mixin hover {
      background-color: var(--mantine-color-red-5);
    }
  }

  &:not([data-active]) {
    @mixin light {
      background-color: var(--mantine-color-neutral-0);
      box-shadow: 0 1px 2px 0 alpha(#b8c4d7, 0.4);
    }

    @mixin dark {
      background-color: var(--mantine-color-neutral-7);
      border-color: var(--mantine-color-neutral-6);
    }

    @mixin hover {
      box-shadow: none;

      @mixin light {
        opacity: 0.7;
      }

      @mixin dark {
        background-color: var(--mantine-color-neutral-6);
      }
    }
  }
}

.tabLabel {
  text-transform: capitalize;
}
