.container {
  padding-top: var(--mantine-spacing-250);
  padding-bottom: var(--mantine-spacing-500);

  @media (min-width: $mantine-breakpoint-sm) {
    padding-top: var(--mantine-spacing-300);
  }

  @media (min-width: $mantine-breakpoint-lg) {
    padding-top: var(--mantine-spacing-500);
    padding-bottom: var(--mantine-spacing-800);
  }
}

.box {
  padding: var(--mantine-spacing-100) var(--mantine-spacing-150);
  height: rem(66px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--mantine-spacing-125);

  @mixin light {
    box-shadow: 0 2px 3px 0 #d9e5f4;
  }

  @mixin dark {
    background-color: var(--mantine-color-neutral-8);
    border-color: transparent;
  }

  @media (min-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-150) var(--mantine-spacing-200);
    height: rem(74px);
    border-radius: var(--mantine-spacing-250);
  }
}
